<!doctype html>
<html lang="{{ _lang ?: 'en' }}" dir="{{ _lang == 'ar' or _lang == 'ar_SA' ? 'rtl' : 'ltr' }}">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>{% block title %}{% endblock %} | Namingo</title>
    <!-- CSS files -->
{% if route_is('zones') or route_is('epphistory') or route_is('users') or route_is('log') or route_is('profile') %}{% include 'partials/css-tables.twig' %}{% else %}{% include 'partials/css.twig' %}{% endif %}
  </head>
  <body{% if screen_mode == 'dark' %} data-bs-theme="dark"{% endif %}>
    <div class="page">
      <!-- Navbar -->
      <header class="navbar navbar-expand-md navbar-light d-print-none">
        <div class="container-xl">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <h1 class="navbar-brand d-none-navbar-horizontal pe-0 pe-md-3">
            <a href="{{route('home')}}">
              <img src="{{ logoPath }}" width="110" height="32" alt="Namingo" class="navbar-brand-image">
            </a>
          </h1>
          <div class="navbar-nav flex-row order-md-last">
            <div class="nav-item d-md-flex me-3">
              <div class="btn-list">
                <div class="dropdown small-dropdown">
                  <a href="#" class="btn dropdown-toggle" data-bs-toggle="dropdown"><span class="flag flag-country-{{ uiLang }}"></span>&nbsp;{{ lang }}</a>
                    <div class="dropdown-menu">
                      <a href="/lang?en_US" class="dropdown-item"><span class="flag flag-country-us"></span>&nbsp;English</a>
                      <a href="/lang?uk_UA" class="dropdown-item"><span class="flag flag-country-ua"></span>&nbsp;Українська</a>
                      <a href="/lang?fr_FR" class="dropdown-item"><span class="flag flag-country-fr"></span>&nbsp;Français</a>
                      <a href="/lang?es_ES" class="dropdown-item"><span class="flag flag-country-es"></span>&nbsp;Español</a>
                      <a href="/lang?pt_PT" class="dropdown-item"><span class="flag flag-country-pt"></span>&nbsp;Português</a>
                      <a href="/lang?jp_JP" class="dropdown-item"><span class="flag flag-country-jp"></span>&nbsp;日本語</a>
                      <a href="/lang?ar_SA" class="dropdown-item"><span class="flag flag-country-sa"></span>&nbsp;العربية</a>
                    </div>
                </div>
              </div>
            </div>
            <div class="d-none d-md-flex me-3">
              <a href="/mode" class="nav-link px-0 hide-theme-dark" title="{{ __('Enable dark mode') }}" data-bs-toggle="tooltip"
           data-bs-placement="bottom">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z" /></svg>
              </a>
              <a href="/mode" class="nav-link px-0 hide-theme-light" title="{{ __('Enable light mode') }}" data-bs-toggle="tooltip"
           data-bs-placement="bottom">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="12" cy="12" r="4" /><path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7" /></svg>
              </a>
            </div>
            <div class="nav-item dropdown">
              <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
                <span class="avatar bg-{% if roles == 0 %}primary{% else %}green{% endif %}-lt">{{ auth.user.username|slice(0, 2)|upper }}</span>
                <div class="d-none d-xl-block ps-2">
                  <div>{{auth.user.username}}</div>
                  <div class="mt-1 small text-muted">{{auth.user.email}}</div>
                </div>
              </a>
              <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <a href="{{route('profile')}}" class="dropdown-item">{{ __('My Profile') }}</a>
                {% if isAdminImpersonation %}<a href="{{ route('leave_impersonation') }}" class="dropdown-item">{{ __('Leave Impersonation') }}</a>{% endif %}
                <a href="{{route('logout')}}" class="dropdown-item">{{ __('Logout') }}</a>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="navbar-expand-md">
        <div class="collapse navbar-collapse" id="navbar-menu">
          <div class="navbar navbar-light">
            <div class="container-xl">
              <ul class="navbar-nav">
                <li {{ is_current_url('home') ? 'class="nav-item active"' : 'class="nav-item"' }}>
                  <a class="nav-link" href="{{route('home')}}">
                    <span class="nav-link-icon d-md-none d-lg-inline-block"><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M5 12l-2 0l9 -9l9 9l-2 0"></path><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path><path d="M10 12h4v4h-4z"></path></svg>
                    </span>
                    <span class="nav-link-title">
                      {{ __('Dashboard') }}
                    </span>
                  </a>
                </li>
                <li {{ is_current_url('listZones') or is_current_url('checkZone') or is_current_url('createZone') or 'zone' in currentUri ? 'class="nav-item dropdown active"' : 'class="nav-item dropdown"' }}>
                  <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false">
                    <span class="nav-link-icon d-md-none d-lg-inline-block"><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M19.5 7a9 9 0 0 0 -7.5 -4a8.991 8.991 0 0 0 -7.484 4"></path><path d="M11.5 3a16.989 16.989 0 0 0 -1.826 4"></path><path d="M12.5 3a16.989 16.989 0 0 1 1.828 4"></path><path d="M19.5 17a9 9 0 0 1 -7.5 4a8.991 8.991 0 0 1 -7.484 -4"></path><path d="M11.5 21a16.989 16.989 0 0 1 -1.826 -4"></path><path d="M12.5 21a16.989 16.989 0 0 0 1.828 -4"></path><path d="M2 10l1 4l1.5 -4l1.5 4l1 -4"></path><path d="M17 10l1 4l1.5 -4l1.5 4l1 -4"></path><path d="M9.5 10l1 4l1.5 -4l1.5 4l1 -4"></path></svg>
                    </span>
                    <span class="nav-link-title">
                      {{ __('Zones') }}
                    </span>
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{route('listZones')}}">
                      {{ __('List Zones') }}
                    </a>
                    <a class="dropdown-item" href="{{route('checkZone')}}">
                      {{ __('Check Zone') }}
                    </a>
                    <a class="dropdown-item" href="{{route('createZone')}}">
                      {{ __('Create Zone') }}
                    </a>
                  </div>
                </li>
                {% if roles == 0 %}<li {{ is_current_url('listUsers') or is_current_url('createUser') or 'user/update/' in currentUri ? 'class="nav-item dropdown active"' : 'class="nav-item dropdown"' }}>
                  <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false">
                    <span class="nav-link-icon d-md-none d-lg-inline-block"><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 13a3 3 0 1 0 0 -6a3 3 0 0 0 0 6z"></path><path d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z"></path><path d="M6 20.05v-.05a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v.05"></path></svg>
                    </span>
                    <span class="nav-link-title">
                      {{ __('Users') }}
                    </span>
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{route('listUsers')}}">
                      {{ __('List Users') }}
                    </a>
                    <a class="dropdown-item" href="{{route('createUser')}}">
                      {{ __('Create User') }}
                    </a>
                  </div>
                </li>{% endif %}
                <li {{ is_current_url('epphistory') or is_current_url('poll') or is_current_url('log') or is_current_url('registry') or is_current_url('serverHealth') or is_current_url('listTlds') or is_current_url('createTld') or 'tld' in currentUri or 'reserved' in currentUri or 'tokens' in currentUri or (roles != 0 and 'registrar' in currentUri) ? 'class="nav-item dropdown active"' : 'class="nav-item dropdown"' }}>
                  <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false">
                    <span class="nav-link-icon d-md-none d-lg-inline-block"><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"></path> <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path></svg>
                    </span>
                    <span class="nav-link-title">
                      {{ __('System') }}
                    </span>
                  </a>
                  <div class="dropdown-menu">
                    {% if roles == 0 %}<a class="dropdown-item" href="{{route('registry')}}">
                      {{ __('Configuration') }}
                    </a>
                    <a class="dropdown-item" href="{{route('listTlds')}}">
                      {{ __('Providers') }}
                    </a>
                    <a class="dropdown-item" href="{{route('serverHealth')}}">
                      {{ __('Server Health') }}
                    </a>
                    <div class="dropdown-divider"></div>{% endif %}
                    {% if roles == 0 %}<a class="dropdown-item" href="{{route('log')}}">
                      {{ __('Error Log') }}
                    </a>{% endif %}
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
     {% block content %}{% endblock %}
    </div>
    <!-- Libs JS -->
{% if route_is('dashboard') %}
    {% include 'partials/js-home.twig' %}
{% elseif route_is('zones') %}
    {% include 'partials/js-zones.twig' %}
{% elseif route_is('users') %}
    {% include 'partials/js-users.twig' %}
{% elseif route_is('log') %}
    {% include 'partials/js-log.twig' %}
{% elseif route_is('profile') %}
    {% include 'partials/js-profile.twig' %}
{% elseif route_is('server') %}
    {% include 'partials/js-server.twig' %}
{% else %}
    {% include 'partials/js.twig' %}
{% endif %}
  </body>
</html>